<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button *ngIf="!openSession" tab="SiginUp">
      <ion-icon name="person-add"></ion-icon>
      <ion-label>Registro</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="!openSession" tab="Login">
      <ion-icon name="log-in"></ion-icon>
      <ion-label>Iniciar Seción</ion-label>
    </ion-tab-button>
    <ion-tab-button *ngIf="openSession" (click)="logOut()" tab="Login">
      <ion-icon name="log-out"></ion-icon>
      <ion-label>Cerrar Sesión</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>